.home {
  // position: relative;
  &__header {
    position: sticky;
    top: 0;
    z-index: 5;
    padding-bottom: 1rem;
    background-color: var(--main-bg);
  }

  &__searchbar {
    display: grid;
    justify-items: center;
    position: sticky;
    z-index: 4;
    top: 5rem;
    width: 100%;
    padding-bottom: 1rem;
    background-color: var(--main-bg);
    border: 2px solid var(--main-bg);

    &-content {
      display: grid;
      justify-items: center;
      width: 80%;
      margin-bottom: .5rem;
    }
  }

  &__searchbar .btn {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: space-around;
  }
  &__body {
    // width: 90%;
    padding: 0 2rem 2rem 2rem;
    margin: 0 auto;
  }
}
