.house-preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  width: 80%;
  // height: 80%;
  padding: 1rem;
  box-shadow: var(--shadow-sm);
  background-color: var(--element-bg);
  border-radius: 0.5rem;
  margin: 2rem auto;

  &__imgs {
    // width: 50%;
    height: 100%;
    display: grid;
    row-gap: 5%;
    column-gap: 8%;
    grid-template-columns: repeat(6, 1fr); // divide the grid into 6 equal columns
    grid-template-rows: 60vh 20vh; // divide the grid into 2 rows, one with 60vh height and one with 20vh height  
    overflow: hidden;
  }
  &__img {
    position: relative;
    max-width: 10rem;
    max-height: 10rem;
    border-radius: .5rem;
    overflow: hidden;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    &-1 {
      grid-column: span 6; // span across all columns
      grid-row: span 1; // span across one row
      display: flex;
      align-items: center;
      max-width: 100%;
      max-height: 60vh;
    }
    &-2 {
      grid-column: span 2; // span across two columns
      grid-row: span 1; // span across one row
      width: 100%;
      height: 20vh;
    }
    &-3 {
      grid-column: span 2; // span across two columns
      grid-row: span 1; // span across one row
      width: 100%;
      height: 20vh;
    }
    &-4 {
      grid-column: span 2; // span across two columns
      grid-row: span 1; // span across one row
      width: 100%;
      height: 20vh;
    }
  }
&__table {
  width: 100%;
  background-color: var(--light);
  padding: 1rem;
  border-radius: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  tr {
    display: flex;
    justify-content: space-between;
  }

  th,td {
    flex-basis: 50%;
    font-size: .8rem;
    text-align: start;
  }
  th {
    color: var(--dark);
  }
  td {
    margin-bottom: 1rem;
    color: var(--primary-clr);
  }
}
&__owner {
  border-radius: .5rem;
  background-color: var(--light);
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;

  .owner-profile {
    background-color: bisque;
    border-radius: .5rem;
    height: 8rem;
    width: 8rem;
    overflow: hidden;
    flex-basis: 40%;
  }

  .profile {
    height: 100%;
    width: 100%;
  }
  .house-preview__contacts {
    flex-basis: 60%;
  }
}
&__info {
    // width: 50%;

    &-header {
      display: flex;
      justify-content: space-between;
    }
  }
  &__title {
    margin: 0.5rem 0;

    @media screen and (min-width: 480px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__profile {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  &__map {
    img {
      width: 100%;
    height: 100%;
    }
  }
  &__navigator-btn {
    position: absolute;

    &-right {
      right: 1rem;
    }
    &-left {
      left: 1rem;
    }
  }
  @media screen and (max-width: 768px) {
      &__imgs {
        display: flex;
      }
      &__img {
        display: none;
        height: 30vh;

        &-1 {
          display: flex;
          width: 100%;
        }
      }
    }
}
