.line-divider {
    /* width: 96%; */
    margin: 1.75rem auto;
    height: 3px;
    margin-top: .45rem;
    background-color: var(--grey-2);
}
.line {
    background-color: var(--primary-clr);
    width: 30%;
    height: 100%;
}