.popup-card {
  padding: 4rem;
  position: relative;
  width: 80%;
  margin: 0 auto;
  background-color: var(--element-bg);
  box-shadow: var(--shadow-sm);
  border-radius: 0.5rem;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
  background-color: rebeccapurple;

  &::after {
    content: " ";
    height: 200vh;
    width: 200vw;
    background-color: rgba(245, 245, 245, 0.63);
    position: absolute;
    z-index: -10;
    left: -30%;
    top: -20%;
  }
  @media screen and (max-width: 768px) {
    padding: 3rem 1.5rem;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    padding: 3rem 1rem;
  }
}
