.slider {
  width: 4rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;

  &__ball {
    cursor: pointer;
    height: 0.5rem;
    width: 0.5rem;
    /* border: 2px solid var(--primary-clr); */
    border-radius: 0.2rem;
    background-color: var(--muted-primary-clr);
  }
  &__ball:hover {
    background-color: var(--primary-clr);
  }

  &__ball--active {
    background-color: var(--primary-clr);
    /* border-radius: 0%; */
    width: 2rem;
  }
}
